$rausch: #FF5A5F;
$babu: #00A699;
$arches:#FC642D;
$hof:#484848;
$foggy:#767676;
$white: rgb(248, 248, 248);
//QuickSand Semi-bold 600
//font-family: 'Quicksand', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');